.musicBar-control {
    display: flex;
    align-items: center;
    .control-icon {
        flex-center();
        width: toRem(34);
        height: toRem(34);
        line-height: 1;
        color: $normalColor;
        font-size: toRem(22);
        margin: 0 toRem(8);
        border: 1px solid $normalColor;
        border-radius: 100%;
        background: #fff;
        &.control-icon-mid {
            width: toRem(38);
            height: toRem(38);
            font-size: toRem(26);
        }
    }
}
