#MusicBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid $borderColor;
    .bar-container {
        width: 100%;
        height: $musicBarHeight;
        padding: 0 toRem(5);
        .bar-info {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}
