#index {
    position: relative;
    width: 100%;
    background: #fff;
    .recommend-container {
        width: 100%;
        position: relative;
        background: #fff;
        .recommend-title {
            flex-center();
            width: 100%;
            padding: toRem(20) toRem(10);
            span {
                flex-center();
                width: toRem(120);
                height: toRem(26);
                color: $darkColor;
                font-size: toRem(12);
                border-radius: toRem(12);
                background-color: $shallowColor;
            }
        }
        .playAll {
            position: absolute;
            left: 0;
            top: toRem(80);
            z-index: 22;
            display: flex;
            align-items: center;
            height: toRem(28);
            font-size: toRem(14);
            padding-left: toRem(10);
            padding-right: toRem(16);
            border-radius: toRem(16);
            background-color: $appColor;
            .playAll-icon {
                flex-center();
                width: toRem(18);
                height: toRem(18);
                color: $appColor;
                margin-right: toRem(5);
                border-radius: 100%;
                background: #fff;
            }
            .playAll-label {
                color: #fff;
            }
        }
    }
    .loading-container {
        flex-center();
        width: 100%;
        height: toRem(50);
        .loading, .nothing, .error {
            font-size: toRem(14);
            color: #999;
            text-align: center;
        }
        .error {
            color: $redColor;
        }
    }
}
