.MusicBanner {
    width: 100%;
    height: toRem(160);
    padding: toRem(10);
    background-color: $bgColor;
    .slider, .slider-frame {
        height: 100% !important;
        visibility: visible !important;
    }
    .slider-list, .slider-slide {
        width: 100% !important;
        height: 100% !important;
    }
    .item-link {
        display: block;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .slider-decorator-0 {
        bottom: 10px !important;
    }
}