.playList-container {
    width: 100%;
    max-height: toRem(188);
    border-top: 1px solid $borderColor;
    margin-bottom: $musicBarHeight;
    .playList-header {
        flex-center();
        position: relative;
        height: toRem(36);
        color: $appColor;
        font-size: toRem(14);
        margin-top: toRem(8);
        .playList-title {
            white-space: nowrap;
            .playList-count {
                font-size: toRem(12);
            }
        }
        .playList-mode-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: toRem(20);
            &.left {
                left: toRem(18);
                font-size: toRem(14);
            }
            &.right {
                right: toRem(5);
                width: toRem(36);
                height: toRem(36);
            }
        }
    }
    .playList-content {
        position: relative;
        max-height: toRem(135);
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .playList-item {
            position: relative;
            display: flex;
            align-items: center;
            padding: toRem(7) toRem(8);
            border-bottom: 1px solid $borderColor;
            line-height: 1;
            .item-name {
                display: flex;
                align-items: center;
                .name-icon-container {
                    flex-center();
                    width: toRem(18);
                    height: toRem(18);
                    margin: 0 toRem(5);
                    .name-icon {
                        color: $appColor;
                        font-size: toRem(18);
                        &.smallCircle {
                            width: toRem(4);
                            height: toRem(4);
                            border-radius: 100%;
                            background: $bgColor;
                        }
                    }
                }
                .name-value {
                    text-ellipsis();
                    max-width: toRem(295);
                    color: $infoColor;
                    font-size: toRem(14);
                    &.onPlay {
                        color: $mainColor;
                    }
                }
            }
            .item-close {
                color: $lessColor;
                font-size: toRem(20);
                padding: toRem(5) toRem(6);
                margin-left: auto;
            }
        }
    }
}
