.control-playBtn {
    width: toRem(38);
    height: toRem(38);
    margin-right: toRem(12);
    &.pause {
        background: url('~@/assets/img/play.png') no-repeat;
        background-size: cover;
    }
    &.play {
        background: url('~@/assets/img/pause.png') no-repeat;
        background-size: cover;
    }
}
